<h1>Burgers</h1>

<div id="main" class="clearfix">
    <h2 id="devouredHeader" class="">Devoured these burgers</h2>

    <ul>
        {{#each burger}} {{#if devour}} {{> burger/burger-block devoured=false}} {{/if}} {{/each}}
    </ul>

    <div class="verticalLine"></div>

    <h2 id="notDevouredHeader"> Haven't devoured ... yet </h2>

</div>
<h2>Add a Burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="eat">Burger Name: </label>
        <input type="text" id="eat" name="name"></input>
    </div>

    <button type="submit">Submit</button>
</form>